@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,800,900,1000");

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #222;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#about{
}

#top-jumbo{
  height: 100vh;
}

.btn-box{
  gap:1rem;
}

.navbar {
  padding: 0.8 rem;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
  position: fixed !important;
  width: 100vw;
  min-height: 3rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel {
  height: 100vh;
}

.carousel-inner img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  height: 100vh;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  font-weight: 500;
}

.carousel-caption h3 {
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn {
  text-decoration: none;
  border: none;
}

.btn-primary {
  background-color: rgba(50, 175, 50, 1);
  border-radius: 15px 15px 15px 15px;
}

.btn-primary:hover {
  background-color: rgba(20, 195, 10, 1);
  backdrop-filter: blur(5px);
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.main-btn{
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  margin: 2rem;
}

#emailHelp{
  color:white !important;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3 rem;
  margin-bottom: 1rem;
}

.quote {
  width: 100%;
}

#quoteForm{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0) 59%, rgba(255, 255, 255, 1) 90%), url('img/lawn.jpg'), no-repeat;
  background-clip: border-box;
  background-size: cover;
}

.quote-form-inner{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  min-height: 100vh;
  width: 100vw;
  height: fit-content;

}

#gallery{
  width: 90vw;
}

.img-card > img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.gif {
  max-width: 100%;
}

#g-recaptcha-v2 {
  margin: 20px;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #dd4b39;
}

.fa-facebook:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer a {
  color: #d5d5d5;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .carousel-caption h3 {
    font-size: 150%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 300%;
  }

  .social {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 992px) {

  .carousel-caption h3 {
    font-size: 130%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 250%;
  }



  .social {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 115%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  
  }

  .display-4 {
    font-size: 225%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
  }

  .carousel-caption h1 {
   /* font-size: 175%;*/
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 4px 8px;
  }
  .display-4 {
    /*font-size: 200%;*/
  }

  .social a {
    font-size: 2em;
    padding: 7rem;
  }
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.invalid-feedback{
  color: rgb(55, 2, 2);
  background-color: rgba(244, 210, 210, 1);
  width: fit-content;
  border: .5px solid  rgba(169, 118, 118, 0.7);
  border-radius: 5px 5px 5px 5px;
  padding: .2rem;
  align-self: center;
}


#captcha-info, #captcha-expired, #captcha-error, #captcha-failed{
  display: none;
}

#success-message{
  display: none;
}

[class*="col-"] {
  padding: 1rem;
}

@media (min-width: 576px) {
  body, html{
    scroll-padding-top: 100px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
