@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#top-jumbo{
  margin-bottom: 0
}

img {
  pointer-events: none;
}

.error,
.success {
  display: none;
  margin: 15px;
}

.loading{
  display: none;

  padding-top: 30px;
}

.loader {
  border: 6px solid #e0e0e0; /* Light grey */
  border-top: 6px solid #0091ff; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 1s linear infinite;
}

.navbar {
  padding: 0.8 rem;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #00c251;
  border: 1px solid #00c251;
}

.btn-primary:hover {
  background-color: #00963f;
  border: 1px solid #00963f;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3 rem;
  margin-bottom: 1rem;
}

.quote {
  width: 100%;
}

.gif {
  max-width: 100%;
}

#g-recaptcha-v2 {
  margin: 20px;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #dd4b39;
}

.fa-facebook:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer a {
  color: #d5d5d5;
}

.thumbnail img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 150%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 300%;
  }

  .social {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 992px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 130%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 250%;
  }

  .social {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 200%;
  }

  .carousel-caption h3 {
    font-size: 115%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 225%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 175%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 100%;
    padding: 4px 8px;
  }
  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2em;
    padding: 7rem;
  }
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*="col-"] {
  padding: 1rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
